*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 13px;
}

body{
    overflow-x: hidden;
}

:root{
    --primary-color:#0d6efd;
    --section-bg-color:#0d6dfd03;
    --secondry-text-color:#fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
}

nav .logo img{
    height: 60px;
}

nav .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .links a{
    text-decoration: none;
    color: #333;
    position: relative;
}

nav .links a::after{
    content: '';
    height: 1.5px;
    width: 100%;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 20px;
    border-radius: 50px;
    transform: scale(0);
    transition: 0.3s;
}

nav .links a:hover::after{
    transform: scale(1);
}

nav .sign-in-btn button{
    padding: 10px 15px;
}

#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 200px; */
    padding: 20px 150px;
}

#home .left-side .title,
#home .left-side .disc,
#home .left-side .sub-title{
    margin-top: 15px;
}

#home .left-side .title{
    position: relative;
}

#home .left-side .title .blue-bar{
    height: 40px;
    width: 180px;
    background-color: var(--primary-color);
    border-radius: 5px;
    rotate: -1deg;
    z-index: -1;
    position: absolute;
    left: 135px;
}

#home .left-side .title h1{
    font-weight: 600;
}

#home .left-side .title h1 span{
    color: var(--secondry-text-color);
    font-weight: 600;
    font-size: 28px;
    margin-left: 10px;
}

#home .left-side .sign-up-btn button{
    padding: 10px 17px;
    margin-top: 15px;
}

#home .left-side .icons{
    display: flex;
    gap: 10px;
}

#home .left-side .icons img{
    height: 25px;
}

#home .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home .right-side .set-1{
    display: flex;
    gap: 10px;
}

#home .right-side .set-1 img{
    height: 180px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#home .right-side .set-2 img{
    margin-top: 10px;
    height: 230px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#properties{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 60px 150px;
    background-color: var(--section-bg-color);
}

#properties h1{
    font-weight: 600;
}

#properties .property-cards{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

#properties .property-cards .set-1,
#properties .property-cards .set-2{
    display: flex;
    gap: 15px;
}

#properties .property-cards .card-1,
#properties .property-cards .card-2,
#properties .property-cards .card-3,
#properties .property-cards .card-4{
    transition: 0.4s;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#properties .property-cards .card-1:hover,
#properties .property-cards .card-2:hover,
#properties .property-cards .card-3:hover,
#properties .property-cards .card-4:hover{
    transform: scale(1.05);
}

#properties .property-cards .card-1 img,
#properties .property-cards .card-2 img,
#properties .property-cards .card-3 img,
#properties .property-cards .card-4 img{
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
}

#properties .property-cards .card-1 h5,
#properties .property-cards .card-2 h5,
#properties .property-cards .card-3 h5,
#properties .property-cards .card-4 h5{
    margin-top: 15px;
    font-weight: 600;
}

#properties .property-cards .card-1 hr,
#properties .property-cards .card-2 hr,
#properties .property-cards .card-3 hr,
#properties .property-cards .card-4 hr{
    border: none;
    border-radius: 180px;
    width: 100%;
    height: 3px;
    background-color: #333;
}

#properties .property-cards .card-1 p,
#properties .property-cards .card-2 p,
#properties .property-cards .card-3 p,
#properties .property-cards .card-4 p{
    margin-top: 15px;
    text-align: justify;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 60px 150px;
}

#about h1{
    font-weight: 600;
}

#about .about-body{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#about .about-body .left-side p{
    text-align: justify;
}

#about .about-body .left-side p span{
    font-weight: 600;
}

#about .about-body .right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-body .right-side .double-img{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#about .about-body .right-side .double-img img{
    height: 195px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 0.4s;
}

#about .about-body .right-side img{
    transition: 0.4s;
    height: 400px;
    overflow: hidden;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#about .about-body .right-side img:hover{
    transform: scale(1.05);
}

#services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 60px 150px;
    background-color: var(--section-bg-color);
}

#services h1{
    font-weight: 600;
}

#services .service-body{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

#services .service-body .left-side p span{
    font-weight: 600;
}

#services .service-body .left-side ul li{
    font-weight: 600;
    font-size: 15px;
}

#services .service-body .left-side p{
    text-align: justify;
}

#services .service-body .right-side img{
    transition: 0.4s;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#services .service-body .right-side img:hover{
    transform: scale(1.05);
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 60px 150px;
}

#contact h1{
    font-weight: 600;
}

#contact .contact-body{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#contact .contact-body .left-side{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 30px;
}

#contact .contact-body .left-side img{
    width: 150px;
}

#contact .contact-body .left-side p{
    text-align: justify;
}

#contact .contact-body .middel-side{
    width: 400px;
}

#contact .contact-body .middel-side p{
    margin-top: 17px;
}

#contact .contact-body .right-side{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 360px;
    border: 1px solid #fafafa;
    border-radius: 8px;
    border-width: 2px;
}

#contact .contact-body .right-side .submit-btn button{
    padding: 8px 15px;
}

#contact .contact-body .right-side input{
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 60px 150px;
    background-color: var(--section-bg-color);
}

footer .bottom-side{
    margin-top: 100px;
}

footer .bottom-side p{
    font-weight: 600;
    font-size: 12px;
}

footer .top-side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

footer .right-side input{
    height: 40px;
    width: 300px;
}

footer .right-side p span{
    font-weight: 600;
}

footer .top-side .right-side .subcribe-btn button{
    padding: 8px 15px;
}

footer .top-side .middle-side{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

footer .top-side .middle-side a{
    text-decoration: none;
    color: #333;
}

footer .top-side .left-side img{
    width: 120px;
    overflow: hidden;
    border-radius: 5px;
}

footer .top-side .left-side p{
    text-align: justify;
    margin-top: 25px;
}
