*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 13px;
}

body{
    overflow-x: hidden;
}

:root{
    --primary-color:#0d6efd;
    --secondry-text-color:#fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
}

nav .logo img{
    height: 60px;
}

nav .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .links a{
    text-decoration: none;
    color: #333;
    position: relative;
}

nav .links a::after{
    content: '';
    height: 1.5px;
    width: 100%;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 20px;
    border-radius: 50px;
    transform: scale(0);
    transition: 0.3s;
}

nav .links a:hover::after{
    transform: scale(1);
}

nav .sign-in-btn button{
    padding: 10px 15px;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 20px 150px;
}

#home .left-side .title,
#home .left-side .disc,
#home .left-side .sub-title{
    margin-top: 15px;
}

#home .left-side .title{
    position: relative;
}

#home .left-side .title .blue-bar{
    height: 40px;
    width: 180px;
    background-color: var(--primary-color);
    border-radius: 5px;
    rotate: -1deg;
    z-index: -1;
    position: absolute;
    left: 135px;
}

#home .left-side .title h1{
    font-weight: 600;
}

#home .left-side .title h1 span{
    color: var(--secondry-text-color);
    font-weight: 600;
    font-size: 28px;
    margin-left: 10px;
}

#home .left-side .sign-up-btn button{
    padding: 8px 15px;
}

#home .right-side img{
    
}