<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppleEase | Online Store</title>
    <link rel="stylesheet" href="../styles/index.css">
    <!-- import boostrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="icon" href="../assets/logo.png" type="image/png">
</head>

<body>

    <section id="landing-page">
        <nav>
            <div class="logo">
                <img src="../assets/logo.png" alt="">
            </div>
            <div class="links">
                <a href="">Home</a>
                <a href="">Shop</a>
                <a href="">Offers</a>
                <a href="">About Us</a>
                <a href="">Get In Touch</a>
            </div>
            <div class="sign-up-btn">
                <button id="btn">Create Account</button>
            </div>
        </nav>

        
        <!-- Home Section -->
        <section id="home">
            <div class="left-side">
                <div class="sub-title">
                    <h5>Updrade to Premium Living_</h5>
                </div>
                <div class="title">
                    <h1>Your Trusted Destination For <br> Apple Products.</h1>
                </div>
                <div class="discription">
                    <p>At AppleEase we make owning Apple devices easier than ever.From the latest iPhones <br> to high-performance MacBooks,shop with confidence and enjoy seamless service <br> exclusive deals and fast delivery - all in one place.</p>
                </div>
                <div class="sign-in-btn">
                    <button>Sign In My Account</button>
                </div>
            </div>
            <div class="right-side">
                <img src="../assets/gsmarena_001-removebg-preview.png" alt="">
            </div>
        </section>

        <!-- Shop Section -->
        <section id="shop">
            <div class="sub-title">
                <h5>Shop the Apple Collection_</h5>
            </div>
            <div class="title">
                <h2>All Your Favourite Apple Devices In One Place</h2>
            </div>
            <div class="discription">
                <p>Discover the full range Apple Products - from sleek iPhones and powerful MacBooks to versatile iPads and must-have accessories. <br> Whether you're upgrading or gifting, AppleEase brings you authentic tech with unbeatable convenience.</p>
            </div>
            <div class="selection-btns">
                <button id="iMacs-btn">iMacs</button>
                <button id="iPhones-btn">iPhones</button>
                <button id="MacBooks-btn">MacBooks</button>
                <button id="iPads-btn">iPads</button>
                <button id="Watches-btn">Watches</button>
            </div>
            <section id="iMacs-section">
                <div class="cards">
                    <div class="set-1">
                        <div class="card-1">
                            <img src="../assets/download__2_-removebg-preview.png" alt="">
                            <h5>iMac 19" M1(2023)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-2">
                            <img src="../assets/download__4_-removebg-preview.png" alt="">
                            <h5>iMac 19" M1(2023)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-3">
                            <img src="../assets/images__5_-removebg-preview (1).png" alt="">
                            <h5>iMac 22" M1(2024)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M2 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                    </div>
                    <div class="set-2">
                        <div class="card-1">
                            <img src="../assets/images__6_-removebg-preview.png" alt="">
                            <h5>iMac 22" M1(2024)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M2 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-2">
                            <img src="../assets/download__2_-removebg-preview.png" alt="">
                            <h5>iMac 27" M1(2025)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M3 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-3">
                            <img src="../assets/images__5_-removebg-preview (1).png" alt="">
                            <h5>iMac 27" M1(2025)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M3 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="iPhones-section">
                <div class="cards">
                    <div class="set-1">
                        <div class="cards-1">
                            <img src="../assets/download__5_-removebg-preview.png" alt="">
                            <h5>iPhone 14 (2023)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="cards-2">
                            <img src="../assets/download__6_-removebg-preview.png" alt="">
                            <h5>iPhone 15 (2023)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="cards-3">
                            <img src="../assets/images__10_-removebg-preview (1).png" alt="">
                            <h5>iPhone 16 Pro(2025)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                    </div>
                    <div class="set-2">
                        <div class="cards-1">
                            <img src="../assets/images__11_-removebg-preview.png" alt="">
                            <h5>14 Pro Max(2023)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="cards-2">
                            <img src="../assets/images__14_-removebg-preview.png" alt="">
                            <h5>15 Pro Max(2023)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="cards-3">
                            <img src="../assets/images__16_-removebg-preview.png" alt="">
                            <h5>iPhone 11 Pro Max(2023)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="MacBooks-section">
                <div class="cards">
                    <div class="set-1">
                        <div class="card-1">
                            <img src="../assets/images__1_-removebg-preview.png" alt="">
                            <h5>MacBook Air i7(2023)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-2">
                            <img src="../assets/images__2_-removebg-preview.png" alt="">
                            <h5>MacBook Pro M1(2024)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-3">
                            <img src="../assets/images__3_-removebg-preview.png" alt="">
                            <h5>MacBook Pro M2(2025)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                    </div>
                    <div class="set-2">
                        <div class="card-1">
                            <img src="../assets/download-removebg-preview.png" alt="">
                            <h5>MacBook Air i7(2023)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-2">
                            <img src="../assets/images-removebg-preview.png" alt="">
                            <h5>MacBook Pro M3(2024)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-3">
                            <img src="../assets/images__2_-removebg-preview.png" alt="">
                            <h5>MacBook Pro M4(2025)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="iPads-section">
                <div class="cards">
                    <div class="set-1">
                        <div class="card-1">
                            <img src="../assets/ipad-1.png" alt="">
                            <h5>iPad Pro 12.9-inch (2022)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-2">
                            <img src="../assets/ipad-2.png" alt="">
                            <h5>iPad Air (2024)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-3">
                            <img src="../assets/ipad-3.png" alt="">
                            <h5>iPad mini (2021)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                    </div>
                    <div class="set-2">
                        <div class="card-1">
                            <img src="../assets/ipad-4.png" alt="">
                            <h5>iPad (10th generation, 2022)</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="Watches-section">
                <div class="cards">
                    <div class="set-1">
                        <div class="card-1">
                            <img src="../assets/watch-1.png" alt="">
                            <h5>Apple Watch Series 6</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-2">
                            <img src="../assets/watch-2.png" alt="">
                            <h5>Apple Watch Series 7</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                        <div class="card-3">
                            <img src="../assets/watch-3.png" alt="">
                            <h5>Apple Watch Series 8</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                    </div>
                    <div class="set-2">
                        <div class="card-1">
                            <img src="../assets/watch-4.png" alt="">
                            <h5>Apple Watch Series 9</h5>
                            <p>Experience stunning visuals and lightning-fast performance with the Apple M1 Chip.This 24-inch iMac is perfect for work,play and creativity in a vibrant blue finish.</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <!-- Offers Section -->
         <section id="Offers-section">
            <div class="sub-title">
                <h5>Exclusive Deal's You Can't Miss_</h5>
            </div>
            <div class="title">
                <h1>Limited-Time Offers on Your Favourite Apple Devices</h1>
            </div>
            <div class="discription">
                <p>Get the best value an Apple Products with our handpicked deals. Whether you're upgrading your gear or buying a gift, enjoy special discounts,seasonal promotions,and bundle offers-only at AppleEase.</p>
            </div>
         </section>
    </section>
    <!-- add jQuery js file -->
    <script src="../lib/jquery-3.7.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>

      
        <script>

            $('#iPhones-section').css('display','none');
            $('#MacBooks-section').css('display','none');
            $('#iPads-section').css('display','none');
            $('#Watches-section').css('display','none');

            $('#iPhones-btn').on('click',()=>{
                $('#iPhones-section').css('display','block');
                $('#iMacs-section').css('display','none');
                $('#iPads-section').css('display','none');
                $('#Watches-section').css('display','none');
                $('#iPhones-btn').css('color','#fcfcfc');
                $('#iPhones-btn').css('background-color','#333');
                $('#iMacs-btn').css('color','#333');
                $('#iMacs-btn').css('background-color','#fff');
                $('#MacBooks-section').css('display','none');
                $('#MacBooks-btn').css('color','#333');
                $('#MacBooks-btn').css('background-color','#fff');
                $('#iPads-btn').css('color','#333');
                $('#iPads-btn').css('background-color','#fff');
                $('#Watches-btn').css('color','#333');
                $('#Watches-btn').css('background-color','#fff');
            })

            $('#iMacs-btn').on('click',()=>{
                $('#iPhones-section').css('display','none');
                $('#iMacs-section').css('display','block');
                $('#iPads-section').css('display','none');
                $('#Watches-section').css('display','none');
                $('#iMacs-btn').css('color','#fcfcfc');
                $('#iMacs-btn').css('background-color','#333');
                $('#iPhones-btn').css('color','#333');
                $('#iPhones-btn').css('background-color','#fff');
                $('#MacBooks-section').css('display','none');
                $('#MacBooks-btn').css('color','#333');
                $('#MacBooks-btn').css('background-color','#fff');
                $('#iPads-btn').css('color','#333');
                $('#iPads-btn').css('background-color','#fff');
                $('#Watches-btn').css('color','#333');
                $('#Watches-btn').css('background-color','#fff');
            })

            $('#MacBooks-btn').on('click',()=>{
                $('#MacBooks-section').css('display','block');
                $('#iPhones-section').css('display','none');
                $('#iMacs-section').css('display','none');
                $('#iPads-section').css('display','none');
                $('#Watches-section').css('display','none');
                $('#MacBooks-btn').css('color','#fcfcfc');
                $('#MacBooks-btn').css('background-color','#333');
                $('#iPhones-btn').css('color','#333');
                $('#iPhones-btn').css('background-color','#fff');
                $('#iMacs-btn').css('color','#333');
                $('#iMacs-btn').css('background-color','#fff');
                $('#iPads-btn').css('color','#333');
                $('#iPads-btn').css('background-color','#fff');
                $('#Watches-btn').css('color','#333');
                $('#Watches-btn').css('background-color','#fff');
            })

            $('#iPads-btn').on('click',()=>{
                $('#iPads-section').css('display','block');
                $('#iPhones-section').css('display','none');
                $('#iMacs-section').css('display','none');
                $('#MacBooks-section').css('display','none');
                $('#Watches-section').css('display','none');
                $('#iPads-btn').css('color','#fcfcfc');
                $('#iPads-btn').css('background-color','#333');
                $('#iPhones-btn').css('color','#333');
                $('#iPhones-btn').css('background-color','#fff');
                $('#iMacs-btn').css('color','#333');
                $('#iMacs-btn').css('background-color','#fff');
                $('#MacBooks-btn').css('color','#333');
                $('#MacBooks-btn').css('background-color','#fff');
                $('#Watches-btn').css('color','#333');
                $('#Watches-btn').css('background-color','#fff');
            })

            $('#Watches-btn').on('click',()=>{
                $('#Watches-section').css('display','block');
                $('#iPhones-section').css('display','none');
                $('#iMacs-section').css('display','none');
                $('#iPads-section').css('display','none');
                $('#MacBooks-section').css('display','none');
                $('#Watches-btn').css('color','#fcfcfc');
                $('#Watches-btn').css('background-color','#333');
                $('#iPhones-btn').css('color','#333');
                $('#iPhones-btn').css('background-color','#fff');
                $('#iMacs-btn').css('color','#333');
                $('#iMacs-btn').css('background-color','#fff');
                $('#iPads-btn').css('color','#333');
                $('#iPads-btn').css('background-color','#fff');
                $('#MacBooks-btn').css('color','#333');
                $('#MacBooks-btn').css('background-color','#fff');
            })

        </script>
</body>

</html>